body {
	font-family: Arial, sans-serif;
	background-image: url('.././img/collage-fond-film.jpg');
	background-size: 100vw 100vh;
}

.login_c {
	display: grid;
	justify-items: center;
	align-items: center;
	height: 100vh; /* 将登录页面的高度设置为视口的高度 */
}

.login_page {
	color: grey; /* 设置文本颜色 */
	display: grid;
	font-family: small-caps;
	font-size: 5rem;
	justify-items: center;
	align-items: center;
}

h2 {
	margin-top: -50px
}

.inscript {
	background-color: #fff;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	margin-top: -50px; /* 将垂直外边距设置为负值，使表单向上移动 */
	margin-left: auto; /* 将左外边距设置为 auto，使表单在其右侧水平居中 */
	margin-right: auto; /* 保持右外边距为 0 */
}

form {
	
}

input[type="text"], input[type="password"], input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #387bad;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

input[type="submit"]:hover {
	background-color: #1f80c7;
}

.non_inscrit {
	font-size: 12px;
}

p {
	text-align: center;
}

p a {
	color: #007bff;
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}